{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group artist-lookup" data-artists="{{languages}}">
        <label for="artist_name">Artist Name</label>
        <small>Start typing the artist name</small>
        {{ form.artist_name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        {{ form.artist_id(class_ = 'form-control') }}
      </div>
      <div class="form-group">
        <label for="venue_name">Venue Name</label>
        <small>Start typing the venue name</small>
        {{ form.venue_name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        {{ form.venue_id(class_ = 'form-control') }}
      </div><div class="form-group">
          <label for="start_time">Start Time</label>
          {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
        </div>
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>

  <script>
    $(async function () {
      const route ="{{ url_for('autocomplete_artist')|safe }}";
      var availableTags = [];

      console.log(route);
      let response = await fetch(route, {method: "GET",});
      if (response.ok) {
        availableTags =  await response.json();
      } else {
        alert('A server error occurred. Please retry.');
        console.log(response);
      }
      
      $("#artist_name").autocomplete({
        source: availableTags,
        select: function (event, ui) {
          event.preventDefault();
          $('#artist_name').val(ui.item.label);
          $('#artist_id').val(ui.item.value);
          console.log(ui.item.label);
          console.log(ui.item.value);
        }
      });
    });

    $(async function () {
        const route = "{{ url_for('autocomplete_venue')|safe }}";
        var availableTags = [];

        console.log(route);
        let response = await fetch(route, { method: "GET", });
        if (response.ok) {
          availableTags = await response.json();
        } else {
          alert('A server error occurred. Please retry.');
          console.log(response);
        }

        $("#venue_name").autocomplete({
          source: availableTags,
          select: function (event, ui) {
            event.preventDefault();
            $('#venue_name').val(ui.item.label);
            $('#venue_id').val(ui.item.value);
            console.log(ui.item.label);
            console.log(ui.item.value);
          }
        });
      });

    $('#start_time').datetimepicker();  
  </script>
{% endblock %}